apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  containers:
  - args:
    - manager
    - --start-as-leader
    - --cp-enable
    - --cp-namespace=kube-system
    - --vip={{ cluster_vip }}
    - --address={{ cluster_vip }}
    - --arp=true
    - --ddns=false
    - --leader-election=true
    - --enable-node-labeling=true
    image: ghcr.io/kube-vip/kube-vip:v0.6.4
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources: {}
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
        - SYS_TIME
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kube-config
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/rancher/rke2/rke2.yaml
    name: kube-config
  - hostPath:
      path: /etc/ssl/certs
    name: ca-certs
