apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-ingress-nginx
  namespace: kube-system
spec:
  valuesContent: |-
    controller:
      hostPort:
        enabled: false
      service:
        loadBalancerIP: 192.168.28.25
        annotations:
          metallb.universe.tf/address-pool: first-pool

