apiVersion: v1
kind: Pod
metadata:
  name: kube-vip
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-vip
    image: ghcr.io/kube-vip/kube-vip:v0.6.4
    args:
      - manager
      - --controlplane
      - --interface={{ ansible_default_ipv4.interface }}
      - --vip={{ cluster_vip }}
      - --address={{ cluster_vip }}
      - --arp
      - --leaderElection
      - --namespace=kube-system
      - --enableNodeLabeling
    securityContext:
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW
    volumeMounts:
      - name: kubeconfig
        mountPath: /etc/kubernetes/admin.conf
        readOnly: true
  volumes:
    - name: kubeconfig
      hostPath:
        path: /etc/rancher/rke2/rke2.yaml
