[Unit]
Description: Kube-VIP HA Load Balancer
After=network-online.target
Wants=network-online.target

[Service]
Environment=VIP={{ cluster_vip }}
Environment=INTERFACE={{ ansible_default_ipv4.interface }}
Environment=KUBECONFIG=/etc/rancher/rke2/rke2.yaml
Environment=KUBERNETES_SERVICE_HOST=127.0.0.1
Environment=KUBERNETES_SERVICE_PORT=6443

ExecStart=/usr/local/bin/kube-vip manager \
    --kubeconfig=/etc/rancher/rke2/rke2.yaml \
    --controlplane \

    --namespace=kube-system \
    --interface=${INTERFACE} \
    --vip=${VIP} \
    --address=${VIP} \
    --arp \
    --leaderElection \
    --enableNodeLabeling

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
