apiVersion: v1
kind: Service
metadata:
  name: ceph-dashboard-external
  namespace: rook-ceph
spec:
  type: LoadBalancer
  ports:
  - name: https-dashboard
    port: 443
    targetPort: 8443
    protocol: TCP
  selector:
    app: rook-ceph-mgr
    rook_cluster: rook-ceph
