apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ceph-dashboard
  namespace: rook-ceph
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/proxy-redirect-from: "~^http://10\\.42\\..+/(.*)"
    nginx.ingress.kubernetes.io/proxy-redirect-to: "/$1"
    nginx.ingress.kubernetes.io/upstream-hash-by: "$host"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "30"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "60"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "60"
spec:
  ingressClassName: nginx-internal
  tls:
  - hosts:
    - "ceph.dishhome.com.np"
    secretName: "{{ tls_secret_name | default('dishhome-wildcard-tls') }}"
  rules:
  - host: "ceph.dishhome.com.np"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: rook-ceph-mgr-dashboard-http
            port:
              number: 7000
