apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ceph-dashboard
  namespace: rook-ceph
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/proxy-redirect: "default"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - ceph.dishhome.com.np
    secretName: rook-ceph-dashboard-tls
  rules:
  - host: ceph.dishhome.com.np
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: rook-ceph-mgr-dashboard-http
            port:
              number: 7000
