---
- name: Clean up Legacy Kube-VIP Systemd Service
  ansible.builtin.systemd:
    name: kube-vip
    state: stopped
    enabled: false
  ignore_errors: true

- name: Remove Legacy Kube-VIP Files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/systemd/system/kube-vip.service
    - /usr/local/bin/kube-vip
    - /usr/local/bin/kube-vip-extracted
    - /mnt/kube-vip-image
  notify: reload-systemd

- name: Ensure RKE2 Manifests Directory Exists
  ansible.builtin.file:
    path: /var/lib/rancher/rke2/server/manifests
    state: directory
    mode: '0755'

- name: Deploy Kube-VIP Manifest
  ansible.builtin.template:
    src: kube-vip.yaml.j2
    dest: /var/lib/rancher/rke2/server/manifests/kube-vip.yaml
    mode: '0644'
