---
- name: Ensure /usr/local/bin exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: '0755'

- name: Download Kube-VIP Binary
  ansible.builtin.get_url:
    url: https://github.com/kube-vip/kube-vip/releases/download/v0.6.4/kube-vip
    dest: /usr/local/bin/kube-vip
    mode: '0755'
  register: download_result
  until: download_result is succeeded
  retries: 3
  delay: 5

- name: Deploy Kube-VIP Systemd Service
  ansible.builtin.template:
    src: kube-vip.service.j2
    dest: /etc/systemd/system/kube-vip.service
    mode: '0644'

- name: Enable and Start Kube-VIP Service
  ansible.builtin.service:
    name: kube-vip
    state: started
    enabled: true
    daemon_reload: true
