---
- name: Ensure /usr/local/bin exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: '0755'

- name: Pull Kube-VIP Image via Containerd
  ansible.builtin.shell: |
    /var/lib/rancher/rke2/bin/rke2 containerd ctr -n k8s.io image pull ghcr.io/kube-vip/kube-vip:v0.6.4
  register: pull_result
  until: pull_result is succeeded
  retries: 3
  delay: 10
  changed_when: "'indexing' in pull_result.stdout or 'done' in pull_result.stdout"

- name: Extract Kube-VIP Binary from Container
  ansible.builtin.shell: |
    /var/lib/rancher/rke2/bin/rke2 containerd ctr -n k8s.io run --rm --mount type=bind,src=/usr/local/bin,dst=/hostbin,options=rw ghcr.io/kube-vip/kube-vip:v0.6.4 temp-extract sh -c "cp /kube-vip /hostbin/kube-vip"
  args:
    creates: /usr/local/bin/kube-vip


- name: Deploy Kube-VIP Systemd Service
  ansible.builtin.template:
    src: kube-vip.service.j2
    dest: /etc/systemd/system/kube-vip.service
    mode: '0644'

- name: Enable and Start Kube-VIP Service
  ansible.builtin.service:
    name: kube-vip
    state: started
    enabled: true
    daemon_reload: true
